body {
    height: 90%;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color:#F9D1B5;
    text-align: center;

}



.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    padding: 0px 85px;
}

.menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    
}

.menu a{
    color: black;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    padding: 15px 45px;
    text-align: center;
}

.menu a:hover{
    background-color:#eaa97a;
}

.menu li{
    float: left;
}



.container{
    display: flex;
    align-items: center;
    
}

.aboutUs-container{
    margin-top: 118px;
    margin-left: 60px;
    margin-right: 60px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.aboutUs-container .text{
    padding: 0px 40px;
}


.contact-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

.contact{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-evenly;
}

.contact-btn{
    background-color: black;
    color:#fff;
    padding: 20px 30px;
    border-radius: 30px;
    font-size: 18px;

}

.contact-form{
    width: 100%;
}
.contact-form .text{
    font-weight: bold
}

.contact-form .form{
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.input-group{
    margin-bottom: 30px;
    position: relative;
}

input, textarea{
    width: 100%;
    padding: 10px;
    outline: 0;
    
    background: transparent;
    font-size: 15px;
}

input{
    border: 0px;
    border-bottom: 1px solid #000;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: black;
    cursor: text;
    transition: 0.2;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -25px;
    font-size: 15px
}

.phone{
    height: 650px;
}

.lady{
    height: 580px;
}

.service-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    color: #D05A08;
    font-family: cursive;
    font-size: 56px;
    font-weight: 500;
    line-height: 0%;
    
}

.frames{
    display: flex;
    justify-content: space-evenly;
}

.big-text{
    margin-top: 38px;
    font-family: cursive;
    font-size: 108px;
    font-weight: 600;
    text-align: center;
}

a{
    text-decoration: none;
    color: #D05A08;
    font-size: 26px;
}
.cta {
    height: 50px;
    width: 150px;
    border-radius: 15%;
    border: 1px solid #000;
}

.dancing-girl{
    width: 768px;
    height: 326px;
}

.clothing, .style, .closet {
    background-color: rgb(188, 187, 187);
    padding: 102px;
    margin: 40px;
}

.paragraph{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000000;
    padding: 12px;
}

footer{
    position: absolute;
    background-color: #6C4B34;
    color: white;
    text-align: center;
    padding: 12px 0px;
    width: 100%;
    bottom: 0;
}

.socials a{
    padding: 0px 50px;
}










.home {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    padding: 0 20px;
    box-sizing: border-box;
    color: #F9D1B5;
}


.home img {
    flex: 0 0 auto; 
}

.dress img{

    max-width: 300px; 
    display: block; 
}



.text-container {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    padding-top: 10vh;
  width: 120px;
    
}


.text-container p {
    margin: 0; 
    font-size: 24px; 
}

