body {
    height: 90%;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color:#F9D1B5;
    text-align: center;

}



.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    padding: 0px 85px;
}

.menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    
}

.menu a{
    color: black;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    padding: 15px 45px;
    text-align: center;
}

.menu a:hover{
    background-color:#eaa97a;
}

.menu li{
    float: left;
}



.container{
    display: flex;
    align-items: center;
}

.phone{
    width: 291px;
    height: 743.44px;
}

.lady{
    width: 408px;
    height: 851.09px;
    
}
.service-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title{
    color: #D05A08;
    font-family: cursive;
    font-size: 56px;
    font-weight: 500;
}

.frames{
    display: flex;
    justify-content: space-evenly;
}

.big-text{
    font-family: cursive;
    font-size: 108px;
    font-weight: 600;
    text-align: center;
}

a{
    text-decoration: none;
    color: #D05A08;
    font-size: 26px;
}

.clothing, .style, .closet {
    background-color: rgb(188, 187, 187);
    padding: 102px;
    margin: 40px;
}









.home {
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    width: 100%; 
    padding: 0 20px;
    box-sizing: border-box;
    color: #F9D1B5;
}


.home img {
    flex: 0 0 auto; 
}

.dress img{

    max-width: 300px; 
    display: block; 
}



.text-container {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    padding-top: 10vh;
}


.text-container p {
    margin: 0; 
    font-size: 24px; 
}

.footer{
    background-color: #6C4B34;
    color: white;
    text-align: center;
    padding: 12px;
    width: 100%;
    bottom: 0;
    margin-top: 5%;

    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
    gap: 20px;
    }
    .imagee{
        width: 10vw;
    }

